.bg {
  /* background-image: url('./img/factor.jpeg'); */
  display: flex;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
}

.determinante-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.determinante-container-fix {
  height: 100vh;
}

.determinante-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.determinante-content-fix {
  text-align: center;
}

.determinante-title {
  font-size: 75px;
  color: #fff;
  padding-bottom: 32px;
}

.determinante-desc-container {
  padding-bottom: 50px;
  color: #fff;
}

.determinante-desc {
  font-size: 32px;
}

.determinante-button {
  color: #4ECDF4 !important;
  background: #fff;
  font-size: 29px;
}