.survey-style-0 {display:flex; flex-direction: column; justify-content: center; align-items: center; color:white; text-shadow:0 0 5px black, 0 0 10px black;}
.survey-style-1 {text-align:center;}
.survey-style-2 {margin: 20px;}
.survey-style-3 {visibility: hidden;}
.survey-style-4 {
  margin: 40px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 35px;
}

.survey-style-5 {
  height:200px; 
  width:400px; 
  border-radius:60px; 
  object-fit: cover; 
  object-position: center; 
  display: inline-block; 
  margin: 20px;
}
.survey-style-6 {margin: 20px; display:flex; flex-direction: column; align-items: flex-start;}
/* .survey-style-7 {
  margin: 20px; 
  text-align: center;
} */
.survey-style-8 {
  display: flex; 
  justify-content: center; 
}
.survey-style-9 {display: flex; flex-direction: column; gap: 1rem;}
.survey-style-10 {
  display: flex;
  justify-content: center; 
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
.survey-style-11 {
  display: flex; 
  align-items: center; 
  width: 100%; 
  justify-content: space-between;
}
.survey-style-12 {
  display: flex; 
  gap:2rem; 
  align-items: center;
  flex-basis: 50%;
}
.survey-style-13 {font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 27.2427px; line-height: 33px; color: #616160; width:300px;}
.survey-style-14 {display: flex; align-items: center;gap:1rem}
.survey-style-15 {background: #74B7E6; border-radius:30px;}
.survey-style-16 {width:100%}
.survey-style-17 {margin: 40px; display: flex; justify-content: center; align-items: center; color:white; text-shadow:0 0 5px black, 0 0 10px black;}
.survey-style-18 {margin: 20px; display:flex; flex-direction: column; justify-content: center; align-items: center;}
.survey-style-19 {margin: 20px; width: 40%;}

.survey-title {
  font-size: 57px;
  color: #5E5E5E;
}

.survey-desc {
  font-size: 32px;
  color: #CCCCCC;
}

.button {
  border: 7px solid transparent !important;
  color: #fff !important;
  border-radius: 35px !important;
}
.button::before {
	content: "";
	display: inline-block;
	height: 41px;
	vertical-align: middle;
}

.button-process {
  background: #74B7E6 !important;

}

.button-results {
  background: #9AC331 !important;
}

.button-factor {
  width: 230px;  
  font-size: 23px;
  height: 56px;
}

.container-button {
  display: flex;
}

.survey-score {
  color: #A5A4A4;
  font-size: 23px;
}

.container-factors-back {
  margin-top: 15px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-surveys {
  margin-bottom: 80px;
}

.container-factors-items {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-basis: 50%;
}

.container-survey-results-buttons-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.container-survey-results-buttons {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.factors-back {
  background: #EDEDED !important;
  border: none !important;
  color: #71B9EA !important; 
  border: 7px solid transparent !important;
  font-size: 26px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-radius: 28px !important;

}

.factors-title {
  font-size: 28px;
  color: #616160;
}

/* surveys items for print*/
.section-for-print {

}

.for-print-title {
  font-size: 65px;
  color: #74B7E6;
  text-align: center;
  margin-bottom: 65px;
}

.container-score-surveys {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3%;
  padding-right: 3%;
}

.container-score-item {
  flex-basis: 30%;
  text-align: center;
  cursor: pointer;
}

.score-surveys-title {
  color: #494949;
  font-size: 29px;
  padding-top: 15px;
}

.container-score-img {
  height:200px; 
  width: 100%; 
  object-fit: cover; 
  object-position: center; 
  display: inline-block; 
  overflow: hidden;
  position: relative;
}
/**/

@media screen and (max-width: 1050px) {
  .survey-style-10 {
    /* background: blue; */
    flex-direction: column;
  }
  .survey-style-11 {
    flex-direction: column;
  }
  .container-score-surveys {
    flex-direction: column;
    gap: 35px;
  }
}

@media screen and (max-width: 750px) {
  .survey-style-4 {
    flex-direction: column;
    margin-bottom: 60px;
  }
}

/* @media screen and (max-width: 920px) {
  .container-score-surveys {
    flex-direction: column;
    gap: 35px;
  }
} */

.score-img {
  height:200px; 
  width: 100%; 
  border-radius:60px; 
}

.score-counter-field {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background: #74B7E6;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-counter {
  color: #fff;
  font-size: 21px;
}

#survey1 {
    width: 50px !important;
    height: 60px !important;
    padding-bottom: 10px;  
}

canvas{
    margin: 0 auto;
}